name: Build + SonarQube

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-test-sonarqube:
    name: Tests + SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-cov flask

      - name: Run Unit Tests with Coverage
        run: |
          pytest src/ --cov=src --cov-report=xml:coverage.xml

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=akshitha-jpg_calc-python
            -Dsonar.organization=akshitha-jpg
            -Dsonar.sources=src
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.host.url=https://sonarcloud.io
